/* =============================================================================================== */
/* ==================================== IMPORTAÇÔES EXTERNAS ===================================== */
/* =============================================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

/* =============================================================================================== */
/* ==================================== IMPORTAÇÔES INTERNAS ===================================== */
/* =============================================================================================== */
@import url("avatar.css");

@import url("page_intro.css");
@import url("page_sobre.css");

/* =============================================================================================== */
/* ============================================ GERAL ============================================ */
/* =============================================================================================== */
:root {
    /* Cores */
    --color_primary: rgb(255, 0, 55);
    --color_secondary: rgb(20, 20, 20);
    --color_tertiary: rgb(255, 255, 255);
    --color_quartiary: rgb(31, 31, 31);
    --color_quintiary: rgb(219, 219, 219);
    --color_bg_primary: rgb(15, 15, 15);
    --color_bg_secondary: rgb(49, 49, 49);
    --color_bg_tertiary: rgb(0, 0, 0);

    /* Sombras */
    --color_shadow_primary: rgba(255, 0, 0, 0.4);
    --color_shadow_secondary: rgba(71, 71, 71, 0.2);
    --color_shadow_tertiary: rgba(0, 0, 0, 0.7);
    --color_shadow_quartiary: rgba(0, 0, 0, 0.4);
    --color_shadow_quintiary: rgba(150, 150, 150, 0.219);
    --avatar_shadow_primary: rgba(255, 255, 255, 0.5);
    --avatar_shadow_secondary: rgba(255, 0, 55, 0.8);

    /* Brilho */
    --glow: 0 0 10px var(--color_primary), 0 0 20px var(--color_primary);

    /* Fontes e tamanhos */
    --font_size_title: 1.7rem;
    --font_size_nav: 1.5rem;
    --font_size_footer: 0.9rem;
    --gap_nav: 2rem;
    --padding_cards: 3rem;
    --padding_nav: 1rem;
    --padding_footer: 1rem 5rem;
    --margin_top_footer: 2rem;
    --padding_page_x: 3rem;
    --padding_page_y: 5rem;
    --padding_page: var(--padding_page_x) var(--padding_page_y);

    /* Transições */
    --transition_default: 0.4s ease;

    /* Sombras padronizadas */
    --box_shadow_navbar: 0 2px 5px rgba(255, 0, 0, 0.4);
    --box_shadow_footer: 0 -2px 10px rgba(255, 0, 0, 0.1);

    /* Bordas */
    --border_navbar: 1px solid rgba(255, 255, 255, 0.05);
    --border_footer: 1px solid rgba(255, 255, 255, 0.05);
}

/* Geral */
* {
    /* Remove a borda de seleção */
    outline: none;
    /* Remove o retângulo azul/cinza */
    -webkit-tap-highlight-color: transparent;
    /* Extra para navegadores baseados em WebKit */
    -webkit-focus-ring-color: transparent;
    /* Garante que não apareça seleções indesejadas */
    user-select: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--color_secondary);
}


html,
body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    /* Ou outro peso que você escolher */
}

/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid var(--color_quartiary);
    padding: var(--padding_nav);
    background-color: var(--color_bg_tertiary);
    /* background: var(--color_bg_primary); */
    /* border-bottom: var(--border_navbar); */
    /* box-shadow: var(--box_shadow_navbar); */
    position: fixed;
    top: 0;
    left: 0px;
    height: 100%;
    width: 250px;
    gap: 15px;
    z-index: 1000;
    box-shadow: 0 10px 20px var(--color_shadow_primary);
    transform: translateX(0);
    transition: transform 0.7s;
}

.navbar-close {
    transform: translateX(-100%);
}

#navbar-toggle {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 3rem;
    top: var(--padding_nav);
    left: 0px;
    border-radius: 0px 50% 50% 0px;
    transform: translateX(248px);
    /* Mantenha sua borda existente para o resto do elemento */
    z-index: 99999;
    transition: transform 0.7s, border-color 0.3s;

    /* ESSENCIAL para o pseudo-elemento */
    overflow: hidden;
    /* Opcional, para garantir que nada transborde se a borda for muito grande */
    background: linear-gradient(to right,
            /* A luz vem de cima, criando sombra embaixo */
            #2e2e2e,
            /* Cor mais clara no topo (vermelho claro) */
            #292929,
            /* Cor média (vermelho principal) */
            #1a1a1a
            /* Cor mais escura na parte inferior (vermelho escuro para sombra) */
        );
    border: 1px solid var(--color_quartiary);
    /* Sombra para dar mais profundidade */
    box-shadow: -3px -5px 15px rgba(0, 0, 0, 0.3);

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    /* Sombra no texto para destacá-lo */
}

/* Efeito de clique (active) */
#navbar-toggle:active {
    /* Volta à posição original */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    /* Sombra mais suave */
    /* Você pode ajustar o gradiente aqui para simular o "afundamento" */
    background: linear-gradient(to left #b82c36,
            /* Inverte as cores para simular o botão sendo pressionado */
            #e63946,
            #ff6b6b);
}

#navbar-toggle button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;

    /* COR DO ÍCONE */
    background-color: var(--color_tertiary);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg>');
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg>');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    transition: background-color 0.3s ease;
    cursor: pointer;
    transition: transform 0.7s;
}

#navbar__avatar {
    display: flex;
    position: relative;
    flex-shrink: 0;
    width: 80%;
    /* largura:altura */
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color_bg_primary);
    cursor: pointer;
    perspective: 1000px;
    transition: border-color 0.3s ease;
    border: 1px solid var(--color_quartiary);
    border: 2px solid var(--color_quartiary);
}

#navbar__avatar::before {
    content: "";
    position: absolute;
    inset: 0;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 20px var(--avatar_shadow_primary);
    /* Equivalente a top: 0; right: 0; bottom: 0; left: 0 */
    border-radius: inherit;
    /* Copia o border-radius do elemento */

    z-index: 100000;
}

.navbar-logo span {
    color: var(--color_primary);
    text-shadow: var(--glow);
}

#navbar-logo-mobile {
    display: none;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    margin-left: 32px;
    height: 100%;
    width: 195px;
    padding: 25px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    border-left: 1px solid var(--color_bg_tertiary);
    border-top: 1px solid var(--color_bg_tertiary);
    border-bottom: 1px solid var(--color_bg_tertiary);
    scrollbar-width: none;
    background-color: var(--color_bg_primary);
    box-shadow: inset 0 0 30px var(--color_bg_tertiary);
}

.navbar-menu::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

#menu-pages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    list-style: none;
    height: 100%;
    padding: 0 20px;
}

#menu-pages li {
    width: 190px;
}

#menu-pages li a {
    text-decoration: none;
    color: var(--color_tertiary);
    transition: 0.3s;
    font-size: 1.2em;
    position: relative;
    margin: 0;
    border-radius: 12px;
}

/* linha superior */
#menu-pages li a::before {
    content: "";
    position: absolute;
    width: 210px;
    height: 115%;
    top: 0;
    left: -10px;
    border-top: 2px solid var(--color_primary);
    transform-origin: right;
    transition: transform 0.3s ease;
    border-radius: 15px;
}

/* animação */
#menu-pages li::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 16px;
    background: var(--color_primary);
    margin-top: 7px;
    right: 0;
    transform: scaleX(1);
    transform-origin: right;
    border-radius: 15px 0 0 15px;
    pointer-events: none;
    box-shadow: inset -5px 5px 15px var(--color_shadow_quartiary);
    transition: transform 0.3s ease;
}

#navbar__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: fit-content;
    width: 100%;
    animation: slideInRight var(--transition_default) forwards;
    animation-delay: 0.3s;
    color: var(--color_tertiary);
}

.btn-contats {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    padding: 0;
    aspect-ratio: 1/1;
    font-family: '';
    margin-bottom: 20px;
    background-color: var(--color_secondary);
    border: 1px solid var(--color_quartiary);
    border-radius: 50%;
    color: var(--color_tertiary);
    /* <- Isso define a cor do texto E do ícone */
    gap: 8px;
    transition: 0.3s ease;
    box-shadow: 0 5px 15px var(--color_shadow_secondary);
}

.icon {
    color: var(--color_tertiary);
    padding: 0;
}

.icon.github {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;

    background-color: currentColor;

    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="black" d="M12 .5C5.73.5.5 5.73.5 12a11.5 11.5 0 0 0 7.86 10.93c.58.11.79-.25.79-.56v-2c-3.2.7-3.87-1.54-3.87-1.54-.53-1.35-1.3-1.71-1.3-1.71-1.06-.73.08-.72.08-.72 1.17.08 1.78 1.2 1.78 1.2 1.04 1.77 2.72 1.26 3.38.97.1-.75.41-1.26.75-1.55-2.55-.29-5.24-1.28-5.24-5.7 0-1.26.45-2.3 1.2-3.11-.12-.3-.52-1.5.11-3.12 0 0 .97-.31 3.18 1.18a11 11 0 0 1 5.8 0c2.21-1.49 3.18-1.18 3.18-1.18.63 1.62.23 2.82.11 3.12.75.81 1.2 1.85 1.2 3.11 0 4.43-2.7 5.41-5.26 5.69.42.36.8 1.08.8 2.18v3.24c0 .31.21.67.8.56A11.5 11.5 0 0 0 23.5 12C23.5 5.73 18.27.5 12 .5z"/></svg>');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="black" d="M12 .5C5.73.5.5 5.73.5 12a11.5 11.5 0 0 0 7.86 10.93c.58.11.79-.25.79-.56v-2c-3.2.7-3.87-1.54-3.87-1.54-.53-1.35-1.3-1.71-1.3-1.71-1.06-.73.08-.72.08-.72 1.17.08 1.78 1.2 1.78 1.2 1.04 1.77 2.72 1.26 3.38.97.1-.75.41-1.26.75-1.55-2.55-.29-5.24-1.28-5.24-5.7 0-1.26.45-2.3 1.2-3.11-.12-.3-.52-1.5.11-3.12 0 0 .97-.31 3.18 1.18a11 11 0 0 1 5.8 0c2.21-1.49 3.18-1.18 3.18-1.18.63 1.62.23 2.82.11 3.12.75.81 1.2 1.85 1.2 3.11 0 4.43-2.7 5.41-5.26 5.69.42.36.8 1.08.8 2.18v3.24c0 .31.21.67.8.56A11.5 11.5 0 0 0 23.5 12C23.5 5.73 18.27.5 12 .5z"/></svg>');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.icon.linkedin {
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;

    background-color: currentColor;

    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="black" d="M19 0h-14C2.24 0 0 2.24 0 5v14c0 2.76 2.24 5 5 5h14c2.76 0 5-2.24 5-5V5c0-2.76-2.24-5-5-5zM7.03 20.5H3.5v-11h3.53v11zm-1.77-12.5c-1.13 0-2.03-.91-2.03-2.03 0-1.13.91-2.03 2.03-2.03 1.13 0 2.03.91 2.03 2.03 0 1.13-.91 2.03-2.03 2.03zm15.24 12.5h-3.53v-5.8c0-1.38-.02-3.16-1.93-3.16-1.94 0-2.24 1.51-2.24 3.06v5.9h-3.53v-11h3.39v1.5h.05c.47-.89 1.62-1.83 3.33-1.83 3.56 0 4.22 2.34 4.22 5.37v6.96z"/></svg>');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="black" d="M19 0h-14C2.24 0 0 2.24 0 5v14c0 2.76 2.24 5 5 5h14c2.76 0 5-2.24 5-5V5c0-2.76-2.24-5-5-5zM7.03 20.5H3.5v-11h3.53v11zm-1.77-12.5c-1.13 0-2.03-.91-2.03-2.03 0-1.13.91-2.03 2.03-2.03 1.13 0 2.03.91 2.03 2.03 0 1.13-.91 2.03-2.03 2.03zm15.24 12.5h-3.53v-5.8c0-1.38-.02-3.16-1.93-3.16-1.94 0-2.24 1.51-2.24 3.06v5.9h-3.53v-11h3.39v1.5h.05c.47-.89 1.62-1.83 3.33-1.83 3.56 0 4.22 2.34 4.22 5.37v6.96z"/></svg>');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.btn-contats::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center, rgba(255, 0, 50, 0.2), transparent 60%);
    transform: translateY(-50%) rotate(25deg);
    transition: opacity 0.4s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 0;
}

/* CONTEÚDO */
#box-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--color_bg_secondary);
    padding: 0;
    /* transition: padding-left 0.5s ease; */
}

.container-scroll-y {
    display: flex;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    scrollbar-width: none;
}

.container-scroll-y::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

.container-scroll-x {
    display: flex;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    scrollbar-width: none;
}

.container-scroll-x::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

#footer-main {
    width: 100%;
    height: var(--height_footer);
}

/* PÁGINAS / SLIDES */
.page {
    display: flex;
}

.slide {
    display: flex;
    width: 100%;
    height: 100%;
    padding: var(--padding_page_x) var(--padding_page_y);
    padding-left: calc(250px + var(--padding_page_y));
}

@keyframes subir-fogo {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(var(--x), -60px) scale(0.5);
        opacity: 0;
    }
}

@media (max-width: 600px) {
    :root {
        --padding_cards: 1.5rem;
        --padding_page_Y: 2rem;
        --padding_page_x: 1.5rem;
    }

    .navbar {
        width: 100%;
    }

    .navbar-close {
        transform: translateX(-100%);
    }

    #navbar-toggle {
        transform: translateX(calc(100dvw - 2.5rem)) rotateZ(180deg);
    }

    .slide {
        display: flex;
        width: 100%;
        height: 100%;
        padding: var(--padding_page_y) var(--padding_page_x);
    }

    .navbar {
        padding: 0 1rem;
    }

    .navbar-menu {
        display: flex;
        justify-content: space-between;
        margin-left: 30%;
        height: 100%;
        width: 75%;
    }

    #menu-pages {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        list-style: none;
        height: 100%;
        width: 100%;
        padding: 0 20px;
        overflow: hidden;
    }


    /* linha superior */
    #menu-pages li a::before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 115%;
        top: 0;
        left: -10px;
        border-top: 2px solid var(--color_primary);
        transform-origin: right;
        transition: transform 0.3s ease;
        border-radius: 15px 0 0 0;
    }

    /* animação */
    #menu-pages li::after {
        content: "";
        position: absolute;
        width: 35px;
        height: 16px;
        background: var(--color_primary);
        margin-top: 7px;
        right: 0;
        transform: scaleX(1);
        transform-origin: right;
        border-radius: 15px 0 0 15px;
        pointer-events: none;
        box-shadow: inset -5px 5px 15px var(--color_shadow_quartiary);
        transition: transform 0.3s ease;
    }

}

@media (hover: hover) and (pointer: fine) {

    #navbar-toggle:hover button {
        background-color: var(--color_primary);
    }

    /* Efeito de hover */
    #navbar-toggle:hover {
        /* Leve elevação */
        box-shadow: -3px 0 20px var(--color_shadow_primary);
        border: 2px solid var(--color_primary);
    }

    #navbar__avatar:hover::before {
        box-shadow: inset 0 0 30px var(--avatar_shadow_secondary);
    }

    #menu-pages li:hover::after {
        transform: scaleX(2.2);
        transform-origin: right;
    }

    #menu-pages li a:hover {
        color: var(--color_primary);
    }

    .btn-contats:hover {
        color: var(--color_primary);
        background-color: var(--color_bg_tertiary);
        box-shadow: inset 0 0 15px var(--avatar_shadow_secondary);
    }

}